# Environments
.env
.venv/
.env.local

# Python
__pycache__/
*.py[cod]
*$py.class
*.so

# IDEs
.idea/
.vscode/
*.swp
*.swo

# Logs
logs/
*.log

# Distribution
build/
dist/
*.egg-info/

# Testing db
/test.db
